<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>TemplateView</title>
</head>
<body>
	<h1>Mis Notas</h1><a href="{% url 'new' %}" class="btn btn-primary">Nueva Nota</a>
	<ul>
		{% for nota in object_list %}
		<li>{{ nota.titulo }} -- {{ nota.descripcion }} <a href="{% url 'edit' nota.id %}">Edit</a> <a href="{% url 'delete' nota.id %}">Delete</a></li>
		{% endfor %}
	</ul>
</div>
</body>
</html>